---
import { Icon } from "astro-icon/components";

import * as themes from "daisyui/src/theming/themes";
import themeDefaults from "daisyui/src/theming/themeDefaults";
const { themeOrder } = themeDefaults;

const user = await Astro.locals.currentUser();
---

<nav class="navbar sticky top-0 z-30 glass bg-opacity-90 bg-base-100">
    <div class="navbar-start">
        <a target="jour" href="/app">
            <div id="toggle_sidebar" class="btn btn-ghost">
                <Icon class="w-8 h-8" name="mdi:view-dashboard-edit" />
            </div>
        </a>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl">JOUR.</a>
    </div>
    <div class="none navbar-end">
        <ul>
            <li class="btn btn-sm btn-ghost rounded-btn px-2">About</li>
            <li class="dropdown dropdown-end">
                <div
                    tabindex="0"
                    role="button"
                    class="btn btn-sm btn-ghost rounded-btn px-2"
                >
                    Theme
                </div>
                <div
                    class="dropdown-content z-[1] flex flex-wrap gap-2 sticky w-96 bg-base-300 place-content-center shadow p-4"
                >
                    {
                        themeOrder.map((theme) => (
                            <div data-theme={theme} class="bg-base-100 m-0 p-3">
                                <div class="btn btn-sm btn-primary w-20">
                                    <button
                                        data-toggle-theme={theme}
                                        data-act-class="ACTIVECLASS"
                                    >
                                        {theme}
                                    </button>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>
