---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@islands/navbar/Navbar.svelte";

interface Props {
    title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
    </head>

    <body class="bg-white dark:bg-gray-900">
        <Navbar client:load transition:persist="navbar" transition:persist-props />
        <slot />
    </body>
</html>
