---
import Layout from '@layouts/Layout.astro';
---

<Layout title="JOUR.">
	<h1>Welcome to <span class="text-gradient">Astro</span></h1>
	<p class="instructions">
		To get started, open the directory <code>src/pages</code> in your project.<br />
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<div role="list" class="flex flex-col flex-wrap">
        <a href="/jours">Jours</a>
        <a href="/jours" data-astro-reload>Jours</a>
	</div>
	<div role="list" class="flex flex-col flex-wrap">
        <a href="/test">Test</a>
        <a href="/test" data-astro-reload>Test Reload</a>
	</div>
</Layout>
