---
export const prerender = false;

import { SignUp } from "astro-clerk-auth/components/interactive";
import Layout from "@site/Layout.astro";
---

<Layout title="Sign up | JOUR.">
    <div
        class="flex w-full h-full min-h-screen justify-center items-center p-5"
    >
        <SignUp path="/sign-up" />
    </div>
</Layout>
